@use "./styles/position";
@use "./styles/default";
@use "./styles/font";
@use "./styles/effect";
@use "./styles/transition";

.Home {
  position: relative;
  width: 100%;
  height: 100vh;
  .container {
    @include font.pretendardHeading;
    @include transition.componentChange;
    position: absolute;
    width: calc(100% - 400px);
    min-width: 800px;
    height: 100vh;
    top: 40px;
    left: 40px;
    color: rgba(white, 0.9);
    .heading {
      font-size: 72px;
    }
    .teamList {
      position: relative;
      width: 100%;
      max-width: 800px;
    }
  }

  &.nowTransition {
    .container {
      opacity: 0;
      visibility: hidden;
    }
  }
}
