@use "./styles/position";
@use "./styles/default";
@use "./styles/font";
@use "./styles/effect";
@use "./styles/transition";
@use "./styles/responsive";

.QnA {
  position: relative;
  width: 100%;
  height: 100vh;

  .container {
    @include font.pretendard;
    @include transition.componentChange;
    position: relative;
    width: 60%;
    min-height: 100%;
    min-width: 660px;
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    font-size: 24px;
    font-weight: 100;
    .label1 {
      @include font.pretendardHeading;
      font-size: 64px;
      margin-bottom: 32px;
      margin-top: 64px;
    }
    .label2 {
      @include font.pretendardHeading;
      font-size: 44px;
      text-align: justify;
      font-weight: 600;
      margin-bottom: 24px;
      margin-top: 48px;
      font-style: italic;
    }
    .paragraph {
      margin-bottom: 16px;
      line-height: 1.5em;
    }
  }
  .prevButton {
    @include transition.componentChange;
    @include default.textButton(rgba(white, 0.8));
    position: absolute;
    top: 24px;
    right: 30px;
    font-size: 32px;
    letter-spacing: 0;
  }
}

.nowTransition {
  overflow-y: hidden;

  .container {
    opacity: 0;
    visibility: hidden;
  }
  .prevButton {
    opacity: 0;
    visibility: hidden;
  }
}

@include responsive.mobile {
  .container {
    background: rgba(black, 0.5);
    width: 100% !important;
    padding: 40px 20px !important;
    min-width: 300px !important;
  }
}
