@use "./styles/default";
@use "./styles/font";
@use "./styles/effect";
@use "./styles/position";

.Login {
  @include position.flexbox(row);
  @include font.pretendard;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;

  .input {
    @include default.input;
    @include effect.glassmorphism;
    width: 320px;
    height: 60px;
    border-radius: 16px;
    padding: 12px;
    margin: 0 30px 0 10px;
  }
  .submit {
    @include default.button;
    @include effect.glassmorphism;
    width: 80px;
    height: 60px;
    border-radius: 16px;
    font-size: 20px;
    transition: 0.1s ease;
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}
