@use "./styles/position";
@use "./styles/default";
@use "./styles/font";
@use "./styles/color";
@use "./styles/effect";
@use "./styles/transition";

.Main {
  @include position.centered;
  position: relative;
  width: 100%;
  height: 100vh;

  .introduction {
    @include position.flexbox(row);
    @include transition.backgroundChange;
    width: 80%;
    justify-content: space-between;
    position: relative;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -1.5px;
    word-spacing: 4px;
    font-style: italic;
    color: rgba(white, 0.8);
    text-align: center;
  }
  .buttons {
    @include position.centered(row);
    @include transition.backgroundChange;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 80px;
    flex-wrap: wrap;

    .initialButton {
      @include default.button;
      @include transition.componentChange;
      width: 320px;
      height: 80px;
      border-radius: 16px;
      font-size: 40px;
      margin: 0 20px;
    }

    .loginWrapper {
      @include transition.componentChange;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }
    .signupWrapper {
      @include transition.componentChange;
      position: absolute;
      width: 100%;
      height: 180%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}
.initialUI {
  .initialButton {
    opacity: 1 !important;
  }
}
.loginUI {
  .loginWrapper {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .initialButton {
    opacity: 0;
    visibility: hidden;
  }
}
.signupUI {
  .signupWrapper {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .initialButton {
    opacity: 0;
    visibility: hidden;
  }
}

.nowTransition {
  .introduction {
    opacity: 0;
  }
  .buttons {
    opacity: 0;
  }
}
