@use "./styles/position";
@use "./styles/default";
@use "./styles/font";
@use "./styles/effect";
@use "./styles/transition";

.Home {
  @include position.centered;
  position: relative;
  width: 100%;
  height: 100vh;

  .mainButton {
    @include default.button;
    @include transition.componentChange;
    position: absolute;
    width: calc(50% - 280px);
    max-width: 600px;
    min-width: 450px;
    height: 300px;
    background-color: transparent;
    .title {
      position: absolute;
      font-size: 40px;
    }
    .content {
      position: absolute;
      font-size: 22px;
      font-weight: 300;
    }
    &:hover {
      transform: scale(1.05);
    }
    &.leftTop {
      bottom: calc(50% + 30px);
      left: 80px;
      border-top-right-radius: 360px;
      .title {
        left: 20px;
        bottom: 50px;
      }
      .content {
        left: 20px;
        bottom: 20px;
      }
    }
    &.leftBottom {
      top: calc(50% + 30px);
      left: 80px;
      border-bottom-right-radius: 360px;
      .title {
        left: 20px;
        top: 20px;
      }
      .content {
        left: 20px;
        top: 72px;
      }
    }
    &.rightTop {
      bottom: calc(50% + 30px);
      right: 80px;
      border-top-left-radius: 360px;
      .title {
        right: 20px;
        bottom: 50px;
      }
      .content {
        right: 20px;
        bottom: 20px;
      }
    }
    &.rightBottom {
      top: calc(50% + 30px);
      right: 80px;
      border-bottom-left-radius: 360px;
      .title {
        right: 20px;
        top: 20px;
      }
      .content {
        right: 20px;
        top: 72px;
      }
    }
  }

  .introduction {
    @include position.flexbox(row);
    @include transition.backgroundChange;

    width: 80%;
    justify-content: space-between;
    position: relative;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -1.5px;
    word-spacing: 4px;
    font-style: italic;
    color: rgba(white, 0.8);
    text-align: center;
  }

  &.nowTransition {
    .mainButton {
      opacity: 0;
    }
  }
}
