//Theme Login
$login-background: linear-gradient(320deg, #815e38, #ecedf5);
$login-letter: linear-gradient(180deg, #917660, #503426);

//Theme Home
$home-background: linear-gradient(320deg, #031b88, #fb7b8e);
$home-letter: #ffecf5;

//Theme Teams
$teams-background: linear-gradient(320deg, #8a2387, #e94057, #f27121);
$teams-letter: linear-gradient(180deg, #faaaa1, #d3d3d3);

//Theme New
$new-background: linear-gradient(180deg, #ffffff, #e38893, #ff95fb);

$prev-home-letter: linear-gradient(180deg, #ffffff, #faa7b8);
