@use "./styles/effect";
@use "./styles/font";

// status
@mixin warn {
  color: red;
  border: red;
}

// buttons
@mixin button($primary-color: white) {
  @include effect.glassmorphism($primary-color);
  @include font.pretendardHeading;
  cursor: pointer;
  transition: 0.1s ease;
  &:hover {
    background: rgba($primary-color, 0.5);
  }
}

@mixin textButton($primary-color: white) {
  @include font.pretendardHeading;
  color: $primary-color;
  font-style: italic;
  &:hover {
    text-decoration: underline;
  }
}

@mixin inputText($primary-color: white) {
  @include effect.glassmorphism($primary-color);
  @include font.pretendardHeading;
  padding: 1rem;
  transition: 0.1s ease;
  &:hover {
    background: rgba($primary-color, 0.3);
  }
}

@mixin toggle {
}
