@mixin glassmorphism($primary-color: white) {
  background: rgba($primary-color, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px rgba($primary-color, 0.5) solid;
  border-radius: 16px;
  color: rgba($primary-color, 0.9);
}
