@mixin centered($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin flexbox($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-start;
  align-items: center;
}
