@mixin spinner {
  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: red;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
