@use "./styles/position";
@use "./styles/color";
@use "./styles/transition";
@use "./styles/responsive";

.Background {
  @include position.centered;
  @include transition.backgroundChange;
  position: fixed;
  width: 100%;
  min-height: 100vh;

  .backgroundTransition {
    @include transition.backgroundChange;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .letters {
    @include position.centered;
    position: relative;
    width: 400px;
    height: 400px;
    .letter {
      @include transition.backgroundChange;
      position: absolute;
      width: 30%;
      height: 100%;
      border-radius: 5px;
    }
    .shadow {
      @include transition.backgroundChange;
      position: absolute;
      width: 30%;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .letterTransition {
      @include transition.backgroundChange;
      position: absolute;
      width: 30%;
      height: 100%;
      border-radius: 5px;
      opacity: 0;
    }
  }
}

//shape
@mixin shapeW {
  .piece1 {
    transform: translateX(-180px) skew(16deg);
  }
  .piece2 {
    transform: translateX(-60px) skew(-16deg);
  }
  .piece3 {
    transform: translateX(60px) skew(16deg);
  }
  .piece4 {
    transform: translateX(180px) skew(-16deg);
  }
}
@mixin shapeX {
  .piece1 {
    transform: translate(75px, 130px) skew(30deg);
  }
  .piece2 {
    transform: translate(75px, -130px) skew(-30deg);
  }
  .piece3 {
    transform: translate(-75px, -130px) skew(30deg);
  }
  .piece4 {
    transform: translate(-75px, 130px) skew(-30deg);
  }
}
@mixin shapeAlign {
  .piece1 {
    transform: translate(calc(50vw - 300px), 210px) skew(30deg);
  }
  .piece2 {
    transform: translate(calc(50vw - 300px), 70px) skew(30deg);
  }
  .piece3 {
    transform: translate(calc(50vw - 300px), -70px) skew(30deg);
  }
  .piece4 {
    transform: translate(calc(50vw - 300px), -210px) skew(30deg);
  }
}
@mixin shapeSide {
  .piece1 {
    transform: translate(calc(-50vw + 300px), -210px) skew(30deg);
  }
  .piece2 {
    transform: translate(calc(-50vw + 300px), 210px) skew(-30deg);
  }
  .piece3 {
    transform: translate(calc(50vw - 300px), 210px) skew(30deg);
  }
  .piece4 {
    transform: translate(calc(50vw - 300px), -210px) skew(-30deg);
  }
}
@mixin shapeQuestion {
  .piece1 {
    transform: translate(calc(50vw - 300px), -52px) rotate(45deg);
  }
  .piece2 {
    transform: translate(calc(50vw - 300px), -250px) rotate(-45deg);
  }
  .piece3 {
    transform: translate(calc(50vw - 500px), -250px) rotate(45deg);
  }
  .piece4 {
    transform: translate(calc(50vw - 300px), 148px) rotate(-45deg);
  }
  @media (max-width: 1600px) and (min-width: 1023px) {
    .letters {
      transform: translateX(calc(1600px * 0.60 - 60vw))
    }
  }
}

//themes
@mixin theme($backgroundColor, $letterColor) {
  &.Background {
    background: $backgroundColor;
  }
  .letter {
    background: $letterColor;
  }
}
@mixin transitionTo($backgroundColor, $letterColor) {
  .backgroundTransition {
    background: $backgroundColor;
    opacity: 1;
  }
  .letterTransition {
    background: $letterColor;
    opacity: 1 !important;
  }
}

.loginTheme {
  @include theme(color.$login-background, color.$login-letter);
  @include shapeW;
}

.homeTheme {
  @include theme(color.$home-background, color.$home-letter);
  @include shapeX;
}

.teamsTheme {
  @include theme(color.$teams-background, color.$teams-letter);
  @include shapeAlign;
}
.myteamTheme {
  @include theme(color.$teams-background, color.$teams-letter);
  @include shapeSide;
}
.qnaTheme {
  @include theme(color.$qna-background, color.$qna-letter);
  @include shapeQuestion;
}

.homeTransition {
  @include transitionTo(color.$home-background, color.$home-letter);
  @include shapeX;
}
.teamsTransition {
  @include transitionTo(color.$teams-background, color.$teams-letter);
  @include shapeAlign;
}
.myteamTransition {
  @include transitionTo(color.$teams-background, color.$teams-letter);
  @include shapeSide;
}

.qnaTransition {
  @include transitionTo(color.$qna-background, color.$qna-letter);
  @include shapeQuestion;
}

@include responsive.mobile {
  .Background {
    width: 100vw;
    top: 0;
  }
}
